@model List<GenreViewModel>

	<div class="container">

	@foreach(var genre in Model)
	{
	<div class="row">
			<h5 class="text-center display-4 light-text">@genre.Name</h5>
			<div class="d-flex flex-wrap justify-content-around">
			@foreach(var game in genre.Games.Take(3))
				{
					@Html.Partial("~/Views/Game/_GameCardLiteral.cshtml",game)
				}
			</div>
	</div>
	<a asp-action="GetById" asp-controller="Genre" asp-route-id="@genre.Id" class="btn btn-primary">More</a>
	}
