
@model PlatformUpdateModel;

<div class="form-container">
<h1 class="text-white">Update Platform</h1>
<form asp-action="UpdatePlatformPost" asp-controller="Platform" method="post" enctype="multipart/form-data">
    <input hidden asp-for="Id" />
 <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GameIds">SelectGames</label>
        <select asp-for="GameIds" id="gameSelect" />
        <span asp-validation-for="GameIds" class="text-danger"></span>
    </div>	
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>
</div>
@section Scripts{
    <script>
    var route = "/Game/GetGameSelectModel"
        var select = "#gameSelect"
        SelectAppend(route,select);
    </script>
}