
@model GameSearchModel

<div class="text-center mb-5 mt-5">
    <h1 class="display-4 fw-bolder">Internet's most scuffed videogame repository!</h1>
</div>
      <form asp-action="SearchGames" class="flex-row" asp-controller="Game" method="get" enctype="multipart/form-data">
    <div class="form-group">
        <div class="input-group">
            <input asp-for="Name" class="form-control searchbar" placeholder="SearchGames.." />
            <div class="input-group-append">
                <input type="submit" value="Search" class="btn searchbutton" />
            </div>
        </div>
    </div>
</form>
