html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0C4160;
    color: #071330;
    font-family:Roboto;
}
.light-text {
    color: #C3CEDA;
}

.truncate {
   // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.maincont {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0%;
    min-height: fit-content;
}

.searchbar {
    height: 5rem;
    font-size: 2rem;
}

.searchbutton {
    height: 5rem;
    font-size: 2rem;
    width: 10rem;
    background-color: #738FA7;
}

.btn {
    background-color: #738FA7;
    border: solid 1px #071330;
    color: #071330;
    transition: 0.25s;
}

.reviewbtn {
    height: 3rem;
    font-size: 2rem;
    background-color: #C3CEDA;
    color: #071330;
}

.window {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0%;
    min-height: fit-content;
    background-color: #738FA7;
}

.reviewflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    display:flex;
    flex-direction:column;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    min-height: fit-content;
    background-color: #738FA7;
}
