@model DeveloperViewModel

	<div class="container">

	
	<div class="row hidden">
			<h5 class="text-center display-4 light-text">Games by @Model.Name</h5>
			<div class="d-flex flex-wrap justify-content-around">
			@foreach(var game in Model.Games)
			{
				@Html.Partial("~/Views/Game/_GameCardLiteral.cshtml",game)
			}
			</div>
	</div>
}