@model ReviewUpdateModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

<div class="form-container">
<h1 class="text-white">Update Review</h1>
<form asp-action="UpdateReviewPost" asp-controller="Review" method="post" enctype="multipart/form-data">
    <input hidden asp-for="Id" />
    <input hidden asp-for="GameId" value="@Model.GameId"/>
    <input hidden asp-for="UserId" value="@Model.UserId"/>
    <input hidden asp-for="UserName" value="@Model.UserName"/>
    <div class="form-group">
        <label asp-for="Content">Review</label>
        <input asp-for="Content" class="form-control" />
        <span asp-validation-for="Content" class="text-danger"></span>
    </div> 
    <div class="form-group">
        <label asp-for="PlayTimeHours">PlayTime In Hours</label>
        <input type="number" step="0.1" asp-for="PlayTimeHours"/>
        <span asp-validation-for="PlayTimeHours" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>
</div>

